* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #343a40;
  background-color: white;
}

body::-webkit-scrollbar{
  width: 0px;
  display: none;
}

main { flex-grow: 1; }

/* Header */
.nav-bar {
  display: flex;
  padding: 10px 15px;
  gap: 10px;
  justify-content: space-between;
  background-color:white;
  align-items: center;
  margin-bottom: 0px;
}

.nav-bar h1 {
  font-size: 1rem;
}

.nav-bar button {
  border: none;
  background: transparent;
  font-size: 1.45rem;
}

.nav-bar button:hover {
  text-shadow: 2px 2px 0px #adb5bd;
}

.nav-links {
  padding: 10px;
  margin-top: 0px;
  background-color: white;
}

nav ul {
  list-style: none;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-left: 0px;
}

nav li:not(:last-child) {
  border-bottom: 1px dotted #343a40;
}

.nav-links a {
  text-transform: uppercase;
  color: #343a40;
  text-decoration: none;
}

.nav-links a:hover {
  color: #354f52;
}

/* Posts */
.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  background-color: white;
}

.post {
  display: grid;
  grid-template-columns: 1em 1fr 1fr 1em;
  grid-template-areas: 
  ". imagePost imagePost ."
  ". post-date remove-btn ."
  ". post-title post-title ."
  ". post-description post-description ."
}

.post-image-container,
.post-date,
.post-title,
.post-description,
.remove-btn { margin: 0; margin-top: 10px }

.post-image {
  width: 90vw;
  max-height: 350px;
  object-fit: cover;
}

.post-image-container { grid-area: imagePost; width: 90vw; }
.post-date            { grid-area: post-date; }
.post-title           { grid-area: post-title;  }
.post-description     { grid-area: post-description;
  color: #505050; 
  white-space: pre-wrap;
word-wrap: wrap; 
}

.post-title a {
  color: #141414;
  text-decoration: none;
}

.post-title a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 1.5em;
  background-color: #202020;
  text-align: center;
  width: 100%;
  padding: 15px;
}

footer h4 {
  color: #ECECEC;
  margin-bottom: 0;
}

#copyright {
  color: #D7D7D7
}

/* Functional Classes */
.hidden { display: none; }